.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 900px;
  gap: 1.5em;
  margin: auto;
  margin-top: 3em;
  padding: 1em;
}

.info {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price {
  background-color: #1e8fff2b;
  color: dodgerblue;
  padding: 0.2em 0.3em;
  border-radius: 10px;
}

.cardContainer {
  border-radius: 8px;
  box-shadow: 1px 2px 5px #00000023;
  padding: 0.2em;
  /* width: 200px; */
  display: inline-block;
}

.container img {
  border-radius: 7px;
  width: 100%;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}
